@tailwind base;
@tailwind components;
@tailwind utilities;

.Box_shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}
.default_Row {
  max-width: 100%;
}
#navbar_box {
  width: 92% !important;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.custom_link {
  &:hover {
    padding: 2px 0;
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    font-weight: bolder;
  }
}
/* custom Scroll Bar */
.custom-scrollbar {
  width: 100%;
  height: 100vh;
  overflow-y: scroll; /* This enables the vertical scrollbar */
  overflow-x: hidden; /*This enables the vertical scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #35b8be; /* Scrollbar thumb and track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* For Chrome, Safari, and Edge */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #35b8be;
  border-radius: 52px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}
.icon-hover:hover {
  color: #35b8be;
  /* fill: #35b8be; */
  cursor: pointer;
}
/* project_section---------------------------------------------- */
.project_section {
  margin: 80px 0 !important;
}
.project_box {
  background-color: #35b8be12;
  border: 1px solid #35b8be;
  border-radius: 24px;
  padding: 20px 5px;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project_outer_box {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* flex-wrap: wrap;/ */
}

.project_img {
  vertical-align: middle;
  width: 86%;
  height: 71%;
  margin: auto;
  border-radius: 20px;
}
.project_btn {
  color: #35b8be !important;
  font-weight: bolder !important;
  border: 2px solid #35b8be !important;
  margin: 10px 10px !important;
  border-radius: 20px !important;
  padding: 8px 28px !important;
  &:hover {
    color: #fff !important;
    background-color: #35b8be !important;
  }
}
/* ----------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 400px) {
  .App {
    width: 100%;
    overflow: hidden;
  }
  #navbar_box {
    /* background-color: rgb(228, 215, 250) !important; */
    width: 100%;
    overflow: hidden;
    padding: 0px 10px !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    gap: 0px !important;
  }
  #logo {
    display: none !important;
  }
  #navContent {
    display: flex !important;
    align-items: center !important;
    gap: 1.2rem !important;
    padding: 0px 10px !important;
  }
  #navbar_box p {
    padding: 0px 1px !important;
    margin: 0 !important;
    font-size: 16px !important;
  }
  #intro_section {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10px !important;
  }
  #intro_outer_box_id.intro_outer_box {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column;
    gap: 30px;
  }
  .intro_section_text p {
    /* font-size: 34px !important; */
    width: 100% !important;
    margin: 15px 0 !important;
  }

  /* ------------------------------------------- */
  #skill_section {
    max-width: 10% !important;
    overflow: hidden !important;
    padding: 0 !important;

    .skill_text {
      overflow: hidden;
      display: flex !important;
      align-items: start !important;
      justify-content: start !important;
      word-break: break;
      width: 70%;
      padding: 0 20px;
      padding-left: 30px !important;
      padding-right: 150px !important;
    }
  }
  #skill_scroll {
    margin: 0 !important;
  }
  .project_section {
    min-width: 100% !important;
  }
  .project_outer_box {
    width: 100% !important;
    display: inline-block;
    .project_box {
      width: 70% !important;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .project_box {
    margin-bottom: 50px;
  }

  #company_section {
    min-width: 0% !important;
    padding: 0 10px !important;
    overflow: hidden !important;
  }
  .company_section_heading {
    width: 100% !important;
  }
  #company_text {
    /* background-color: rgb(255, 127, 127); */
    /* padding: 0 10px; */
    text-align: center;
  }

  #thankYou_section {
    min-width: 0% !important;
    padding: 0 !important;
    margin: 0 !important;
    #tank_you_animation {
      display: none !important;
    }
  }
  .default_Row {
    max-width: 100%;
    /* padding: 0 18px; */
    padding-left: 6%;
    /* margin: auto; */
    text-align: start;
  }
  #toggle_btn {
    display: none !important;
  }
  #form_outer_box {
    padding: 0 !important;
    margin: 0 0 !important;
  }
  #form_card_body {
    width: 100% !important;
  }
  .contact_form {
    width: 100% !important;
    padding: 0px 0 !important;
    padding-top: 30px !important;
    overflow: hidden;
  }
  #footer {
    min-width: 0% !important;
  }
}
@media only screen and (max-width: 600px) {
  /* Styles for screens smaller than 600px */
  /* // FOR INTRO PAGE------------------------------- */
  /* // FOR INTRO PAGE------------------------------- */

  #intro_section {
    margin: auto;
    width: 197%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .intro_section_text {
  }
  .intro_outer_box {
    padding: 0;
    margin: 0;
    /* width: 50%; */
  }
  /* // FOR SKILL PAGE------------------------------- */
  #skill_section {
    min-width: 197%;
  }
  /* // FOR Project PAGE------------------------------- */
  .project_section {
    min-width: 197%;
  }
  /* // FOR company PAGE------------------------------- */
  #company_section {
    min-width: 197%;
  }
  /* // FOR thankYou_section PAGE------------------------------- */
  #thankYou_section {
    min-width: 197%;
    text-align: center;
  }

  #tank_you_animation {
    width: 100%;
    margin: 30px 90px;
    overflow: hidden;
    display: none;
  }
  .contact_form {
    margin: 40px 0;
  }
  /* // FOR footer PAGE------------------------------- */
  #footer {
    min-width: 197%;
    text-align: center;
  }
}
/*----------------------------------------------------------------------------------------------------------------- ----------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for screens between 601px and 1024px */
  #intro_section {
    box-sizing: border-box; /* Add this line */
    margin: auto;
    width: 192%;
  }
  .intro_section_text {
  }
  .intro_outer_box {
    padding: 0;
    margin: 0;
    /* width: 50%; */
  }
  /* // FOR SKILL PAGE------------------------------- */
  #skill_section {
    min-width: 192%;
  }
  /* // FOR company PAGE------------------------------- */
  #company_section {
    min-width: 192%;
  }
  /* // FOR company PAGE------------------------------- */
  .project_section {
    min-width: 192%;
  }
  /* .project_outer_box {
    width: 190%;
  } */
  /* .project_box {
    margin-bottom: 50px;
  } */
  /* // FOR thankYou_section PAGE------------------------------- */
  #thankYou_section {
    min-width: 192%;
    text-align: center;
    overflow: hidden;
  }
  .contact_form {
    margin-left: 0 !important;
    margin-top: 30px !important;
  }
  #tank_you_animation {
    margin: 0 200px;
  }

  /* // FOR footer PAGE------------------------------- */
  #footer {
    min-width: 192%;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  #tank_you_animation {
    width: 70%;
    margin: 30px -90px;
    overflow: hidden;
    display: none;
  }
  .contact_form {
    margin: 40px 0;
    min-width: 0%;
  }
}
